* {
  box-sizing: border-box;
}

@font-face {
  font-family: customFont;
  src: url(./public/BagelFatOne-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --main-color: #fff2d7;
  --body-font: "Josefin Sans", sans-serif;
}

body {
  background: radial-gradient(circle, rgb(6, 87, 21) 0%, rgb(4, 42, 11) 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "customFont", cursive;
  color: var(--main-color);
}

h1 {
  margin: 0;
  font-size: 70px;
  padding: 0;
  color: var(--main-color);
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgb(142, 206, 90), 0em 0.08em 0 rgb(100, 201, 49),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1),
    -0.03em 0 0 rgb(149, 213, 106);
}
h1 span {
  transform: scale(0.9);
  display: inline-block;
  margin-top: 40px;
}
span:first-child {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
    alternate;
}
span:last-child {
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
    infinite alternate;
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
  overflow-y: scroll;
}

#game-header {
  font: "customFont", cursive;
  font-size: large;
  letter-spacing: 4px;
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  margin-bottom: 10px;
}

/* ===================== Message Container UI ===================== */

#score-container {
  font-family: var(--body-font);
  font-size: medium;
  margin-top: 20px;
  width: 90%;
  height: 20%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score-board {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20%;
}

#message-container {
  font-family: var(--body-font);
  font-size: 30px;
  width: 90%;
  height: 15%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.message-board {
  font-weight: 100;
  font-size: large;
  line-height: 1.4;
}

table {
  text-align: center;
  margin-top: 50px;
  border: 1px solid white;
  background-color: hsl(0, 100%, 33%, 0.5);
  border-radius: 15%;
  width: 100%;
}

table.table-one > tbody > tr > th,
table.table-two > tbody > tr > th {
  /* border: 0.2px solid rgb(151, 151, 151); */
  width: 150px;
  height: 30px;
}

/* ======================= Game Container UI ======================= */

#game-container {
  font-family: var(--body-font);
  font-size: x-large;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  height: 60%;
  width: 18%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front > img {
  height: 60%;
  width: 18%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 60%;
  width: 18%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  height: 63%;
  width: 20%;
  margin: 3px;
}

.card > img {
  width: 100%;
  height: auto;
}

/* ======================= Table Container UI ======================= */

#table-container {
  font-family: var(--body-font);
  font-size: x-large;
  width: 90%;
  height: 10%;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(165, 238, 242);
}

.bet-btn-container {
  display: flex;
  align-items: center;
}
.bet-display {
  font-family: customFont;
  font-size: 20px;
  padding: 2px 40px;
  color: var(--main-color);
  height: 30px;
  width: 30px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  background-color: #222222;
}
.bet-display:hover {
  filter: brightness(2);
  color: black;
}

.coins-display {
  text-align: center;
  font-family: var(--body-font);
}

.deal-btn-container {
  display: flex;
  justify-content: center;
}
.deal-btn {
  font-family: customFont;
  font-size: large;
  /* border-radius: 20%; */
  border: 1px solid bisque;
  /* padding: 2px 25px; */
  background-color: rgb(34, 34, 34);
  color: bisque;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deal-btn:hover {
  background-color: rgb(255, 227, 194, 0.9);
  border: 1px solid rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  cursor: pointer;
}
.deal-btn:disabled {
  background-color: #a5a5a5;
  border: 1px solid #aa0000;
  cursor: not-allowed;
  color: #d7d7d7;
}

.plus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-right: 10px;
  padding: 6px 8px;
  border-radius: 50%;
  font-size: small;
}
.plus-btn:hover {
  background-color: rgb(255, 227, 194, 0.9);
  border: 1px solid rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.plus-btn:disabled {
  background-color: #a5a5a5;
  border: 1px solid #aa0000;
  cursor: not-allowed;
  color: #d7d7d7;
}

.minus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  font-size: medium;
}
.minus-btn:hover {
  background-color: rgb(255, 227, 194, 0.9);
  border: 1px solid rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.minus-btn:disabled {
  background-color: #a5a5a5;
  border: 1px solid #aa0000;
  cursor: not-allowed;
  color: #d7d7d7;
}

/* ==================== Tablet / Mobile UI ==================== */

@media (min-width: 280px) and (max-width: 600px) {
  #game-header {
    letter-spacing: 2px;
    color: bisque;
    font-size: x-large;
    height: 10%;
    width: 90%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    line-height: 1.5em;
  }
  #message-container {
    font-size: large;
    width: 90%;
    height: 30%;
  }
  #game-container {
    font-size: large;
    width: 90%;
    height: 40%;
  }
  #table-container {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    font-size: large;
    width: 90%;
    height: 10%;
    margin: 0;
  }
  .bet-display {
    border: 1px solid #ffe4c4;
    padding: 0px 20px;
    background-color: #222222;
    color: #ffffff;
    height: 50px;
  }
  h1 {
    display: none;
  }
  /* h1 span {
    line-height: 0em;
    display: block;
    text-align: center;
  } */
  .card {
    /* border: 2px solid rgb(90, 180, 240); */
    height: auto;
    width: 100%;
    margin: 3px;
  }
  .card > img {
    width: 100%;
    height: 100%;
  }
}
